
@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ochocien centrado">
    <h1 class="margen-1 f-title">Carrito</h1>

    <h3 class="text-center margen-1 f-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis totam quis debitis ad, quod quaerat deleniti, dolor recusandae beatae vel alias non fugiat velit similique dolores id dolore laboriosam aut?</h3>

    <div class="row text-center margen-1">
        
    </div>

</div>

