
@{
    ViewBag.Title = "Valores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="ochocien centrado">
    <h1 class="margen-1 f-title">Valores</h1>

    <h3 class="text-center margen-1 f-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis totam quis debitis ad, quod quaerat deleniti, dolor recusandae beatae vel alias non fugiat velit similique dolores id dolore laboriosam aut?</h3>

    <div class="row text-center margen-1">
        <div class="col-md-4 ">
            <img src="../img/integridad.jpg" class="Pasteles" />
            <h2>Integridad</h2>
            <p>Aseguramos nuestra capacidad para salvaguardar y utilizar tu información sin que esta llegue a otros medios.</p>
        </div>
        <div class="col-md-4">
            <img src="../img/compromiso.jpg" class="Pasteles" />
            <h2>Compromiso</h2>
            <p>Nos comprometemos a tratar con respeto y dignidad a todos nuestros clientes, sin ningún tipo de discriminación.</p>
        </div>
        <div class="col-md-4">
            <img src="../img/excelencia.jpg" class="Pasteles" />
            <h2>Excelencia</h2>
            <p>Nuestros servicios de producto siempre serán de más alta calidad sin excepción.</p>
        </div>
    </div>

</div>

